<footer class="footer-modern">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="footer-brand">DevSpace</h5>
                <p class="footer-desc">
                    Conectando desarrolladores, compartiendo conocimiento.
                </p>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <h6 class="footer-heading">Explorar</h6>
                <ul class="footer-links">
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/crear-post">Publicar</a></li>
                    <li><a routerLink="/registro">Unirse</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6 class="footer-heading">Social</h6>
                <div class="social-icons">
                    <a href="https://github.com/DevSpace-2025"><i class="fa-brands fa-github"></i></a>
                    <a href="https://twitter.com/DevSpace_2025"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://linkedin.com/DevSpace_2025"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; {{ currentYear }} DevSpace. Code with ❤️.</p>
        </div>
    </div>
</footer>